.App {
    text-align: center;
}

.App-header {
    width: 100%;
    background-color: #282c34;
    min-height: 100vh;
    display: inline-block;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}
